page{
  height: 100%;
}
.cates{
  height: 100%;
  .cates_container{
    display: flex;
    height: ~'calc( 100vh - 90rpx )';
    .left_menu{
      flex: 2;
      .menu-item{
        height: 80rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30rpx;
      }
    }
    .right_menu{
      flex: 5;
      background-color: blue;
    }
  }
}